
.nüchtern {
    color: azure;
    background-color: blanchedalmond;
    font-size: 18px;
}

.suff {
    color: tomato;
    background-color: blue;
    font-size: 32px;
}


.default {
    color: black;
    font-size: 16px;
    background-color: white;
}